@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 235 230;
    --foreground: 64 58 52;
    --muted: 115 115 115;
    --accent: 254 254 91; 
    /*#FEFE5B*/
  }
}

/* Masquer la scrollbar sur Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Masquer la scrollbar sur Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* Masquer la scrollbar sur Edge */
.scrollbar-hide::-ms-scrollbar {
  display: none;
}
